<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>YourNomiNow</title>
    {% load static %}
 
  <!-- Template Main CSS File -->
  <link href="{% static 'login/css/landing.css '%}" rel="stylesheet">

 
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="#">YourNomiNow</a></h1>

      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="#hero">Inicio</a></li>
          <li><a class="nav-link scrollto" href="#about">Acerca</a></li>
          <li><a class="nav-link scrollto" href="#services">Servicios</a></li>
         
        
        
            
          
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contacto</a></li>
          <li><a class="getstarted scrollto" href="{% url 'login' %}">Log in</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1><span class="auto-type">YourNomiNow</span></h1>
          <h2>Bienvenido a YourNomiNow la plataforma cuya funcionalidad se dirige a facilitar el control de pagos de empleados dando la facilidad tanto a empleador como a empleado de llevar un control de cuentas mas eficiente..</h2>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="{% static 'login/assets2/img1/nomina.jfif' %}" class="img-fluid animated" alt="nomina">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

   

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Acerca de Nosotros</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              Nuestra plataforma te ayuda en diferentes necesidades que pueda requerir tu trabajo!
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Personalización Completa </li>
              <li><i class="ri-check-double-line"></i> Listado e Informes </li>
              <li><i class="ri-check-double-line"></i> Gran Capacidad de Empleados</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Somos un equipo de desarrollo el cual tiene proposito dar un nuevo sentido al trabajo que desde hace años tomo hacerse y llevarlo al siguiente nivel de inovación con el mejor control de empleados y la satisfacción de estos.
            </p>
            <a href="#" class="btn-learn-more">Aprender Mas</a>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->



    
    
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Servicios</h2>
          <p>Nuestra plataforma brinda diferentes servicios con un mismo proposito el cual guia a las empresas y a sus empleados a un mayor rendimiento.</p>
        </div>

        <div class="row">
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Red Global</a></h4>
              <p>Las distancias no son problema, encuentranos desde todas partes del mundo</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Informes y Documentación</a></h4>
              <p>Convierte los datos del control de tu empresa en informes y estadisticas.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Gran Optimización</a></h4>
              <p>Contamos con gran optimización para llevar un control amplio para empresas amplias</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-layer"></i></div>
              <h4><a href="">Seguridad</a></h4>
              <p>No te preocupes por intrusos no deseados, nuestra pagina cumple con la seguridad que necesitan tus empleados.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->



    

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Equipo</h2>
          <p>Nuestro equipo de desarrollo YourNomi te garantiza la calidad del programa que necesites llevando tus necesidades a la realidad inovando su proposito.</p>
        </div>

        <div class="row">
          <div class="col-lg-12  card-1" data-aos="zoom-in" data-aos-delay="100">
            <div class="member d-flex align-items-center  perfil1">
              <div class="pic"><img src="{% static 'login/assets2/img1/team/team-J.jpeg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Juan Esteban Calderon Ovalle</h4>
                <span>Python developer</span>
                <p>Cumpliendo con el deber</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12  card-1" data-aos="zoom-in" data-aos-delay="100">
            <div class="member d-flex align-items-center  perfil1">
              <div class="pic"><img src="{% static 'login/assets2/img1/team/team-n.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Nicolas Steven Martinez Fonseca</h4>
                <span>Python developer</span>
                <p>Llevando la inovación al siguiente nivel</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          

          

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Planes</h2>
          <p>Elige el plan que mas te convenga, Siempre te daremos el mejor precio para las necesidades que tengas.</p>
        </div>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <h3>Plan de Prueba</h3>
              <h4><sup>$</sup>0<span>(Compra Unica)</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> 15 dias de uso </li>
                <li><i class="bx bx-check"></i> Registro y Control de empleados</li>
                <li><i class="bx bx-check"></i> Registro y Control de desprendibles</li>
                <li class="na"><i class="bx bx-x"></i> <span>Personalización Completa</span></li>
                <li class="na"><i class="bx bx-x"></i> <span>Certificaciones</span></li>
              </ul>
              <a href="#" class="buy-btn">Empecemos!</a>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="box featured">
              <h3>Plan Mensual</h3>
              <h4><sup>$</sup>850<span>Mensual</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> 30 dias de uso</li>
                <li><i class="bx bx-check"></i> Registro y Control de empleados</li>
                <li><i class="bx bx-check"></i> Registro y Control de desprendibles</li>
                <li><i class="bx bx-check"></i> Personalización Completa</li>
                <li><i class="bx bx-check"></i> Certificaciones</li>
              </ul>
              <a href="#" class="buy-btn">Empecemos!</a>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <h3>Plan Anual</h3>
              <h4><sup>$</sup>9900<span>Anual</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> 1 Año de uso</li>
                <li><i class="bx bx-check"></i> Registro y Control de empleados</li>
                <li><i class="bx bx-check"></i> Registro y Control de desprendibles</li>
                <li><i class="bx bx-check"></i> Personalización Completa</li>
                <li><i class="bx bx-check"></i> Certificaciones</li>
              </ul>
              <a href="#" class="buy-btn">Empecemos!</a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->







    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contacto</h2>
          <p>Puedes contactar a nuestro equipo de desarrollo por medio de diferentes plataformas.</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Localización:</h4>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Correo:</h4>
                <p>yournomi@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Telefono:</h4>
                <p>+57 321 218 2023</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Tu Nombre</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Tu Correo</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Asunto</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Mensaje</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  
<!-- footer -->
<footer>
  
    <p>©  YourNomiNow</p>
</footer>


 
</body>

</html>