<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>YourNomiNow</title>
  {% load static %}
  <meta content="" name="description">
  <meta content="" name="keywords">
  
  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">  

  <!-- Main CSS File -->
  <link rel="stylesheet" href="{% static 'login/css/style.css' %}">
</head>

<body>

  <!-- Header -->
  <header id="header" class="fixed-top">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">YourNomiNow</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#services">Servicios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#pricing">Planes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Ingresar</a>
            </li>
          
          </ul>
        </div>
      </div>
    </nav>
  </header>


  <!-- Hero Section -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1">
          <h1><span class="auto-type">YourNomiNow</span></h1>
          <h2>Bienvenido a YourNomiNow... plataforma integral y accesible para desprendibles, certificados y mas.</h2>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <div class="w-70 p-3 container-fluid" >
            
            </div>
        </div>
      </div>
    </div>
  </section>

  <main id="main" >

    <!-- About Us Section -->
    <section id="about" class="about">
      <br><br><br><br><br>
      <div class="container">
        <div class="section-title">
          <h2>Acerca de Nosotros</h2>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1">
            <ul>
              En YourNomiNow, no solo desarrollamos software, sino que construimos soluciones que transforman ideas en realidad digital. Nos destacamos por nuestra pasión por la innovación y nuestro compromiso con la excelencia técnica. Cada miembro de nuestro equipo aporta una combinación única de habilidades técnicas y creativas, respaldadas por años de experiencia en la industria.          
            </ul>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img">
            <div class="w-70 p-3 container-fluid" >
              <img class="img-fluid img-thumbnail" src="{% static 'login/images/logo2.png' %}" alt="">
              </div>
        </div>
      </div>
    </section>
<hr><br>
    <!-- Services Section -->
    <section id="services" class="services section-bg">
      <br><br><br><br><br>
      <div class="container">
        <div class="section-title">
          <h2>Servicios</h2>
          <h5 id="gris">Nuestra plataforma brinda diferentes servicios...</h5>
        </div>
        <div class="row">
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Red Global</a></h4>
              <p>Las distancias no son problema...</p>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Informes y Documentación</a></h4>
              <p>Convierte los datos del control...</p>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Gran Optimización</a></h4>
              <p>Contamos con gran optimización...</p>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-layer"></i></div>
              <h4><a href="">Seguridad</a></h4>
              <p>No te preocupes por intrusos...</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="team section-bg">
      <br><br><br><br><br>
      <div class="container">
        <div class="section-title">
          <h2>Equipo</h2>
          <p>Nuestro equipo de desarrollo YourNomi...</p>
        </div>
        <div class="row">
          <div class="col-lg-12 card-1">
            <div class="member d-flex align-items-center perfil1">
              <div class="pic"><img src="{% static 'login/images/team-J.jpeg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Juan Esteban Calderon Ovalle</h4>
                <span>Python developer</span>
                  <p>Back-end.</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""><i class="ri-linkedin-box-fill"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12 card-1">
            <div class="member d-flex align-items-center perfil1">
              <div class="pic"><img src="{% static 'login/images/team-n.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Nicolas Steven Martinez Fonseca</h4>
                <span>Python developer</span>
                <p>Front-end, Back-end, Tester.</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""><i class="ri-linkedin-box-fill"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Pricing Section -->
    <section id="pricing" class="pricing">
      <br><br><br><br><br>
      <div class="container">
        <div class="section-title">
          <h2>Planes</h2>
          <p>Elige el plan que más te convenga...</p>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="box">
              <h3>Plan de Prueba</h3>
              <h4><sup>$</sup>30<span>/ mes</span></h4>
              <ul>
                <li class="na"><i class="bx bx-x"></i> <span>Compra unica</span></li>
                <li><i class="bx bx-check"></i> 15 días de uso</li>
                <li><i class="bx bx-check"></i> Registro y Control de empleados</li>
                <li><i class="bx bx-check"></i> Registro y Control de desprendibles</li>
                <li class="na"><i class="bx bx-x"></i> <span>Certificaciones</span></li>
              </ul>
              <a href="#" class="buy-btn">Obtenlo Ahora</a>
            </div>
          </div>
          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box featured">
              <h3>Plan Mensual</h3>
              <h4><sup>$</sup>500<span>/ mes</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Uso Completo</li>
                <li><i class="bx bx-check"></i> Personalización Completa</li>
                <li><i class="bx bx-check"></i> Certificaciones</li>
                <li><i class="bx bx-check"></i> Documentación de Datos</li>
                <li><i class="bx bx-check"></i> Soporte Técnico</li>
              </ul>
              <a href="#" class="buy-btn">Obtenlo Ahora</a>
            </div>
          </div>
          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box">
              <h3>Plan Empresarial</h3>
              <h4><sup>$</sup>5900<span>/ año</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Uso Completo</li>
                <li><i class="bx bx-check"></i> Personalización Completa</li>
                <li><i class="bx bx-check"></i> Certificaciones</li>
                <li><i class="bx bx-check"></i> Documentación de Datos</li>
                <li><i class="bx bx-check"></i> Soporte Técnico</li>
              </ul>
              <a href="#" class="buy-btn">Obtenlo Ahora</a>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>

  <!-- Footer -->
  <footer id="footer">
    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>YourNomiNow</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer>

  <!-- Back to Top -->
  <a href="#" class="back-to-top"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
