@media only screen and (min-width: 0px) {
   nav.bg-nomi {
       background: black;
   }
   nav.bg-nomi ul li a {
       color: #fff;
       position: relative;
       font-size: 20px;
       margin-top: 25px;
       margin-left: 84px;
   }
   nav.bg-nomi ul li a::after {
       width: 20%;
       height: 2px;
       background: transparent;
       content: "";
       position: absolute;
       bottom: 2px;
       left: 10px;
       transition: .4s;
   }
   nav.bg-nomi ul li a:hover {
       color: #fff;
   }
   nav.bg-nomi ul li a:hover::after {
       background: rgb(145, 150, 145);
   }
   nav.bg-nomi ul li.perfil a:hover::after {
       background: transparent;
   }
   nav.bg-nomi ul li.perfil a:hover {
       color: black;
   }
   nav.bg-nomi ul li.perfil a {
       color: black;
   }
   nav.bg-nomi ul li.perfil img {
       height: 70px;
       width: 70px;
       border-radius: 65%;
       margin-top: -20px;
   }
   nav.bg-nomi button.navbar-toggler {
       color: #000;
       background: #ffffff;
   }
   nav.bg-nomi a.navbar-brand {
       color: #fff;
       display: flex;
       align-items: center;
   }
   nav.bg-nomi a.navbar-brand img {
       height: 45px;
       margin-right: 28px !important;
       margin: 0 auto;
   }

   body, html {
       margin: 0;
       padding: 0;
       height: 100%;
       overflow-x: hidden; /* Prevent horizontal scrolling */
   }

   .contenedor {
       display: flex;
       flex-direction: column;
       height: 100%;
       overflow-x: hidden; /* Prevent horizontal scrolling */
   }

   .row {
       display: flex;
       flex-direction: column;
       flex-grow: 1;
   }

   .colum1{
    background: url(../img/bg-1.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%; /* Each column takes 50% of the height */
    box-sizing: border-box; /* Include border in height calculation */
}
   .info, .info-employee {
       text-align: center;
   }

   img {
       max-width: 100px;
       margin-bottom: 20px;
   }

   h3{
    color: #fff;
    margin-bottom: 80px;
    font-size: 20px;
}


   label {
       display: flex;
       margin-top: 40px;
       justify-content: center;
       text-align: center;
   }
   .colum2{
    background: url(../img/Background.png);
    background-size: cover;
}


.info {
    width: 450px;
    height: 600px;
    padding: 30px;
    box-sizing: border-box; /* Include padding in width calculation */
}
.info label{
    color: #fff;
    font-size: 20px;
}

.info-employee {
    padding: 30px;
    width: 450px;
    height: 600px;
    box-sizing: border-box; /* Include padding in width calculation */
    background: url(../img/bg-2.png);
    background-size: cover;
    margin: 14px;
}
.info-employee label{
    color: #fff;
    font-size: 14px;
    margin-top: 50px;
}

   @media (min-width: 768px) {
       .row {
           flex-direction: row;
       }

       .col-12 {
           
           flex: 1;
           height: 100%; /* Each column still takes full height in row direction */
       }
   }
}
