
@media only screen and (min-width: 50px) {

    body{
        background: #071e29 !important;
    }
    
    #etiquetaInformes {
        color: white;
        text-align: center;
    }
    
    .container2 {
        margin-left: 90vh;
    }

    .containerTabla {
        font-size: 0.9rem;
        margin-left: 55vh;
        width: 150vh;
    }
    
    
    /* estilos de la navbar */
    
    .border-left-primary {
        border-left: .25rem solid #4e73df !important;
    }
    
    .carDatos2{
        margin-left: 5vh;
    }
    
    #cardEmpleados{
        font-size: 1rem;
        height: 15vh;
        width: 40vh;
    }

    #cardNominas{
        font-size: 1rem;
        height: 13.8vh;
        width: 40vh;
    }

    
    }
    
    
    
    @media only screen and (max-width: 768px) {
    
        #card2{
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            left: 10%;
            margin-right: 20px;
        
        }
    
    
    
    
    }
    
    