@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i');
@media only screen and (min-width: 0px) {
  :root {
    --dark: #34495E;
    --light: #ffffff;
    --success: #0ABF30;
    --error: #E24D4C;
    --warning: #E9BD0C;
    --info: #3498DB;
  }
    
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #071e29 !important;
  background-size: cover;
}

.container2 {
    max-width: 600px;
    margin: 50px auto;
    margin-left: 20vh;
    background: #040b14;
    border: 0.1vh solid #040b14;
    padding: 20px;
    border-radius: 5%;
    box-shadow: 10px 10px 20px #040b14;
}

#registroH2 {
    text-align: center;
    color: wheat;
}



#etiquetaPeriodo {
    display: flex;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 20px;
    color: wheat;
    font-size: large;
}

input[type="date"] {
  font-size: larger;
  font-weight: bold;
  width: 60%;
  background-color: #2E2E2E;
  color: white;
  justify-content: center;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  display: flex;
  margin:  0 auto;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

#botonGenerar{
  font-size: large;
  height: 50px !important;
  color: white !important;
  background-color: #2E2E2E !important;
  border-radius: 20px !important;
  border: 1px solid black !important;
  padding: 5px !important;
  margin-top: 10px;
}

#aDiv{
  font-size: large;
  height: 50px !important;
  color: white !important;
  background-color: #2E2E2E !important;
  border-radius: 20px !important;
  border: 1px solid black !important;
  padding: 10px !important;
  margin-top: 10px;
}

#aDiv:hover{
  color: #000000 !important;
  background-color: yellow !important;
}

#botonGenerar:hover{
  color: #000000 !important;
  background-color: yellow !important;
}


}

@media only screen and (max-width: 600px){

  footer{
    display: none;
  }

}

@media only screen and (max-width: 768px) {
  .container2 {
    padding: 0 20px;
    margin:  0 auto;
    height: 300px;
    
  }

  #registroH2 {
    font-size: 24px;
  }

  label#etiquetaPeriodo,
  input[type="date"] {
    font-size: 16px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #botonGenerar {
    margin-top: 20px;
    height: 65px  !important;
  }
}