@media only screen and (min-width: 0px) {


body {
    background-color: #242323;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.rectangulo {
    height: 480px;
    width: 880px;
    display: flex;
    background: #fff;
    border-radius: 20px;
}

.rectangulo1 {
    border-right: 2px solid rgb(18, 18, 18);
    border-top: none;
    border-bottom: none;
    border-left: none;
}

.rectangulo1 img {
    height: 100%;
    width: 100%;
}

.rectangulo2 {
    padding: 60px 40px 40px 99px;
}

h3 {
    font-size: 55px;
}

form input {
    width: 80%;
    margin-top: 25px;
    margin-bottom: 25px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    font-weight: bold;
}

form a {
    margin-left: 30px;
    color: #090808;
    font-weight: 800;
    text-decoration: none;
}

form button {
    background: #090808;
    color: #fff;
    margin-left: 120px;
    padding: 5px;
    border-radius: 25%;
    width: 20%;
}

/* Reglas de medios para dispositivos móviles */
@media only screen and (max-width: 767px) {
    .rectangulo {
        height: auto;
        width: 90%;
        max-width: 880px;
        display: flex;
        background: #fff;
        border-radius: 20px;
        margin: 20px; /* Ajusta el margen para móvil */
        flex-direction: column;
    }

    .rectangulo1 {
        border-right: 2px solid rgb(18, 18, 18);
        border-top: none;
        border-bottom: none;
        border-left: none;
    }

    .rectangulo1 img {
        height: 100%;
        width: 100%;
    }

    .rectangulo2 {
        padding: 20px; /* Ajusta el padding para móvil */
    }

    h3 {
        font-size: 30px; /* Ajusta el tamaño del título para móvil */
        text-align: center;
    }

    form input {
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
        border: none;
        border-bottom: 2px solid black;
        outline: none;
        font-weight: bold;
    }

    form a {
        margin-left: 0;
        margin-top: 10px;
        text-align: center;
    }

    form button {
        margin-left: 0;
        margin-top: 10px;
        width: 100%;
    }
}

}