<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>YourNomiNow</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
    {% load static %}
  <!-- Favicons -->
  <link href="{% static 'assets2/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets2/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets2/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets2/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets2/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets2/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets2/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets2/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  
  <!-- Template Main CSS File -->
  <link href="{% static 'assets2/css/style.css' %}" rel="stylesheet"> 
</head>
<body>

<!-- ===== Se incluye la navbar ===== -->
{% include 'navbarEmpleado.html' %}
<!--===== Fin de inclusión navbar =====-->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>YourNomiNow</h1>
      <p>Te ayudamos a <span class="typed" data-typed-items="Registrar, Controlar, Visualizar, Facilitar"></span>tu Nomina</p>
    </div>
  </section><!-- End Hero -->



  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>YourNomiNow</span></strong>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets2/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets2/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets2/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets2/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets2/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets2/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets2/vendor/typed.js/typed.umd.js' %}"></script>
  <script src="{% static 'assets2/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'assets2/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets2/js/main.js' %}"></script>
  <script>
    function desplegarMenu() {
      var menu = document.getElementById("menuAvatar");
      menu.classList.toggle("show");
    }
    </script>
</body>

</html>
