<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
    <link rel="stylesheet" href="{% static 'reset_password.css' %}">
    
</head>
<body>
    <h1>Restablecer Contraseña</h1>
    <form method="post">
        {% csrf_token %}
        <label for="new_password">Nueva Contraseña:</label>
        <input type="password" name="new_password" id="new_password">
        <button type="submit">Guardar Nueva Contraseña</button>
    </form>
</body>
</html>
