<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
    <link rel="stylesheet" href="{% static 'reset_password1.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-HFNu9F3Uqf5hKFu+Eqp5U1f60YrGEV4UGUtB+kmhe+62eCsdF05xFHJTPvVoA9IcQFXd9eVqH1/3+wJ5ZNb4Cg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script>
        function togglePasswordVisibility() {
            var passwordInput = document.getElementById("new_password");
            var eyeIcon = document.getElementById("eye-icon");

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                eyeIcon.classList.remove("fa-eye");
                eyeIcon.classList.add("fa-eye-slash");
            } else {
                passwordInput.type = "password";
                eyeIcon.classList.remove("fa-eye-slash");
                eyeIcon.classList.add("fa-eye");
            }
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>Restablecer Contraseña</h1>
        <form method="post">
            {% csrf_token %}
            <label for="new_password">Nueva Contraseña:</label>
            <div class="input-group">
                <input type="password" name="new_password" id="new_password">
                <span class="input-group-text" onclick="togglePasswordVisibility()">
                    <i id="eye-icon" class="fas fa-eye"></i>
                </span>
            </div>
            <button type="submit">Guardar Nueva Contraseña</button>
        </form>
    </div>
</body>
</html>
