<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
    <link rel="stylesheet" href="{% static 'reset_password.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-HFNu9F3Uqf5hKFu+Eqp5U1f60YrGEV4UGUtB+kmhe+62eCsdF05xFHJTPvVoA9IcQFXd9eVqH1/3+wJ5ZNb4Cg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

   

    <script>
        function togglePasswordVisibility() {
            var passwordInput = document.getElementById("new_password");
            var eyeIcon = document.getElementById("eye-icon");

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                eyeIcon.classList.remove("fa-eye");
                eyeIcon.classList.add("fa-eye-slash");
            } else {
                passwordInput.type = "password";
                eyeIcon.classList.remove("fa-eye-slash");
                eyeIcon.classList.add("fa-eye");
            }
        }

        function validatePassword() {
            var passwordInput = document.getElementById("new_password");
            var confirmPasswordInput = document.getElementById("confirm_password");
            var password = passwordInput.value;
            var confirmPassword = confirmPasswordInput.value;
            var uppercaseRegex = /[A-Z]/;
            var lowercaseRegex = /[a-z]/;
            var numberRegex = /[0-9]/;

            if (!uppercaseRegex.test(password) || !lowercaseRegex.test(password) || !numberRegex.test(password)) {
                alert("La contraseña debe contener al menos una mayúscula, una minúscula y un número.");
                return false;
            }

            if (password !== confirmPassword) {
                alert("Las contraseñas no coinciden.");
                return false;
            }

            return true;
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>Restablecer Contraseña</h1>
        <form method="post" onsubmit="return validatePassword()">
            {% csrf_token %}
            <label for="new_password">Nueva Contraseña:</label>
            <div class="input-group">
                <input type="password" name="new_password" id="new_password">
                <span class="input-group-text" onclick="togglePasswordVisibility()">
                    <i id="eye-icon" class="fas fa-eye"></i>
                </span>
            </div>
            <label for="confirm_password">Confirmar Contraseña:</label>
            <div class="input-group">
                <input type="password" name="confirm_password" id="confirm_password">
            </div>
            <button type="submit">Guardar Nueva Contraseña</button>
        </form>
    </div>
</body>
</html>