.container2{
    color: white;
    background:#040b14;
    height: 50%;
    width: 100vh;
    margin-left: 70vh;
    margin-top: 10vh;
    border: 0.1vh solid #040b14;
    border-radius: 5%;
    padding: 2vh;
    padding-top: 5vh;
    box-shadow: 10px 10px 20px #040b14;
}

input {
    height: 5vh;
    font-size: 1rem !important;
    font-weight: 600 !important;
}

input[type="number"]{
    width: 30vh;
}

button{
    background: #071e29   !important;
    border-radius: 20vh !important;
    border: 1px solid white !important;
    margin-left: 10vh !important;
}

button:hover{
    background: #95ddff !important;
    color: black !important;
}




.input-group-text {
    cursor: pointer;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-textfield-decoration-container {
    display: none;
}
