body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; /* Agregamos esta propiedad para centrar verticalmente */
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px; /* Agregamos un margen inferior para separar del formulario */
}

form {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex; /* Cambiamos a flex para alinear los elementos horizontalmente */
    flex-direction: column; /* Cambiamos a columna para apilar los elementos */
}

label {
    font-weight: bold;
    color: #0e0d0d;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: rgb(9, 129, 15);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: rgba(14, 13, 13, 0.582);
}

a {
    color: black;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
}

p {
    color: green;
    margin-top: 10px;
}