@media only screen and (min-width: 600px) {

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/static/img/Background1.png);
    background-size: cover;
}

h3{
    margin-top: 50px;
    color: #1784D3;
    font-size: 25px;
    font-weight: 650;
    letter-spacing: -2px;
}

#labelCedula{
    align-self: flex-start;
    color: #9D9A9A;
}

#labelContraseña{
    align-self: flex-start;
    color: #9D9A9A;
}

#login1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 3em;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 480px;
}

.container1 a {
    color: #1784D3;
    font-size: 13px;
    text-decoration: none;
}

.container1 .forgot {
    font-size: 15px;
    font-weight: 500;
}

.container1 button {
    background-color: #1784D3;
    color: white;
    font-size: 15px;
    padding: 7px 100px;
    border: 2px solid transparent;
    border-radius: 20em;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-top: 20px;
    cursor: pointer;
}

.container1 form {
    display: flexbox;
    align-items: center;
    justify-content: center;
}

.container1 input {
    color: #9D9A9A;
    background-color: #D9D9D9;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 20em;
}

.form-container1 {
    position: absolute;
    top: 0;
    height: 100%;
}











/* afectacion codigo manipulado */

.input-group-text {
    height: 39px;
    margin-top: 8px;
}

.card-header {
    margin-left: 100px;
}

.navbar-dark .navbar-nav .nav-link {
    margin-left: 18px;
}

.navbar-dark .navbar-brand {
    margin-left: 18px;
}

}