.headerDiv{
 
}

#profileDiv{
    height: 30vh;
}

#profileDiv img{
    height: 18vh;
    width: 18vh !important;
}

#profileDiv h1{
    font-size: 1.1rem !important;
}

#botonConf{
    padding: 1px;
    height: 5vh;
    border: 2px solid white;
    color: white !important;
}

.navbarDiv{
    height: 60vh;
}


#logout a{
    color: red;
}

#logout i{
    color: red;
}

.navbarDiv a{
    height: 6vh;
}


@media only screen and (max-width: 600px){

    footer{
      display: none;
    }
  
  }