
body {
  background: url('../img/bg-1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* Estilos para el contenedor */
.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Estilos para el título */
h1 {
  text-align: center;
}

/* Estilos para el formulario */
form {
  margin-top: 20px;
  width: 100%;
}

/* Estilos para las etiquetas */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Estilos para el campo de contraseña */
.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

input[type="password"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-group-text {
  padding: 10px;
  cursor: pointer;
}

/* Estilos para el botón de guardar contraseña */
button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



/* Estilos para el icono del ojo */
.fa-eye-slash {
  display: none;
}

.fa-eye {
  display: inline-block;
}


/* reset_password.css */

/* Estilos para el ojo */
.input-group-text {
  cursor: pointer;
}

.fa-eye-slash {
  display: none;
}
.input-group-text {
  cursor: pointer;
}
