
@media only screen and (min-width: 0px) {
  h2 {
    margin-top: 5vh;
    font-size: 2em;
    text-align: center;
    color: black;
  }
  
  body {
    margin: 0.5em;
    padding: 0.5em;
    background: #071e29;
    background-size: cover;
  }
  
  #volver {
    font-size: 1em;
    color: white;
    background-color: #272727;
    border: 1px solid white;
    width: 18vh;
    height: 1.5em;
    border-radius: 2vh;
    padding-bottom: 2em;
    margin-left: 5vh;
  }
  
  #descargar-pdf {
    margin-left: 160vh;
    background-color: rgb(75, 75, 75);
    border: 1px solid white;

  }


  #tabla {
    color: rgb(0, 0, 0);
    font-size: 1em;
    margin: 0em auto;
    border: 0.2rem solid gray;
    background-color: rgba(255, 255, 255, 0.473);
    max-width: 100%;
    width: 90%;
    height: 80%;
  }

  .background{
    position: absolute;
    margin-top: 4em;
    margin-left: 42.5vh;
    background: url(/static/empleado/img/Logo2.png);
    opacity: 200%;
    top: 0;
    left: 0;
    width: 58.4%;
    height: 59.5em;
    z-index: -1;
  }

  #tablaNomina{
    border: 2px solid black;
    width: 60%;
    height: 60em;
    margin-left: 40vh;
    background-color: rgba(255, 255, 255, 0.753);
  }
  
  .firma{
    border: 1px solid gray;
    background-color: rgba(255, 255, 255, 0.473);
    margin-left: 60vh;
    margin-right: 20vh;
  }

  .firma label{
    font-size: larger;
    font-weight: 700;
    margin-left: 2vh;
  }

  .firma h5{
    font-size: medium;
    margin-left: 3vh;
  }

  .copyright {
    text-align: center;
  }

  th{
    background: rgb(216, 216, 216);
    padding: 1vh;
  }

  td {
    text-align: center;
    border: 0.4vh solid gray;
  }
  
  tr {
    text-align: center;
    border: 0.2vh solid gray;
  }
  
  @media (max-width: 768px) {
    #tabla {
      font-size: 2vh;
      margin: 0vh auto;
      border: 0.5vh solid black;
      background-color: white;
      max-width: 100%;
      width: 95%;
    }
  }
}