
@media only screen and (min-width: 1025px) {
h2 {
    font-size: 2em;
    text-align: center;
    color: black;
  }
  
  body {
    margin: 0.5em;
    padding: 0.5em;
    background-image: url('../img/Background.png');
    background-size: cover;
  }
  
  #volver {
    font-size: 1.5em;
    color: white;
    background-image: url(/static/empleado/img/Volver.png);
    width: 8em;
    height: 2em;
    border: 0;
    border-radius: 5vh;
  }
  
  #tabla {
    color: white;
    font-size: 1em;
    margin: 0em auto;
    border: 0.2em solid black;
    background-color: rgb(75, 75, 75);
    max-width: 100%;
    width: 80vh;
  }
  
  td {
    text-align: center;
    border: 0.4vh solid black;
  }
  
  tr {
    text-align: center;
    border: 0.2vh solid black;
  }
  
  @media (max-width: 768px) {
    #tabla {
      font-size: 2vh;
      margin: 0vh auto;
      border: 0.5vh solid black;
      background-color: white;
      max-width: 100%;
      width: 95%;
    }
  }
}