

/* table */

.container {
    margin-top: 0px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}



.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header .close {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.table{
    margin-top: 50px;
}

.button{
    margin-top: 120px;
}
.title{
    margin-top: 110px;
    margin-right: 120px;
   
}

.rounded-circle-perfil{
    width: 80px;
}

.dropdown-menu .dropdown-item{
    font-size: 15px;
    padding-left: 15px;
}
.table thead th{
    color: #fff;
}
