<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Registro </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'novedad.css' %}">
</head>
<body>

    <h1 class="text-center">Registro de Devengados</h1>
    <a href="{% url 'registrar_nomina' %}" class="btn btn-secondary  volver">Volver</a>
    <div class="container">
        
        <div class="row">
            
            <div class="col-md-6">
                <form id="registroNovedad" action="{% url 'procesar_novedad' %}" method="post">
                    {% csrf_token %}
                    <h2 class="text-center">Registro Horas Extra</h2>
                    <label for="cedula">Cedula Usuario:</label>
                    <input type="number" name="cedula" required>
                    <br><br>

                    <label for="nomina_periodo">Fecha desprendible:</label>
                    <input type="date" name="nomina_periodo" required>
                    <br><br>



                
                    <label for="cantidad">Horas Extras Diurnas:</label>
                    <input type="number" name="horaDiur" id="horaDiur">
                    <br><br>

                    <label for="cantidad">Horas Extras Nocturnas:</label>
                    <input type="number" name="horaNoct" id="horaNoct">
                    <br><br>

                    <label for="cantidad">Horas Extras Diurnas Domingos/Festivos:</label>
                    <input type="number" name="horaDiurDomfest" id="horaDiurDomfest">
                    <br><br>

                    <label for="cantidad">Horas Extras Nocturnas Domingos/Festivos:</label>
                    <input type="number" name="horaNoctDomfest" id="horaNoctDomfest">
                    <br><br>

                    <label for="deveng_bonificacion">Bonificaciones:</label>
                    <input type="number" name="deveng_bonificacion">
                    <br><br>
                    <input type="submit" value="Registrar" class="btn ">
                </form>
                
            </div>
            <div class="col-md-6">
                <form id="registroRetardos" action="{% url 'procesar_descuento' %}" method="post">
                    {% csrf_token %}
                    <h2 class="text-center">Registro de Descuentos</h2>
                    <label for="cedula">Cedula Usuario:</label>
                    <input type="number" name="cedula" required>
                    <br><br>

                    <label for="nomina_periodo">Fecha desprendible:</label>
                    <input type="date" name="nomina_periodo" required>
                    <br><br>
                    

                    <label for="Creditos">Creditos Libranza:</label>
                    <input type="number" name="creditos_libranza" id="creditos_libranza">
                    <br><br>

                    <label for="Cuotas">Cuotas Sindicales:</label>
                    <input type="number" name="cuotas_sindicales" id="cuotas_sindicales">
                    <br><br>

                    <label for="Embargos">Embargos Judiciales:</label>
                    <input type="number" name="embargos_judiciales" id="embargos_judiciales">
                    <br><br>

                    
                    <br><br>
                    <label for="cantidad_retardo">tiempo Retardo(H)</label>
                    <input type="number" name="cantidad_retardo" id="cantidad_retardo">
                    <br><br>
                    <label for="descuento_tipo">Tipo de descuento</label>
                    <input type="text" name="descuento_tipo" id="descuento_tipo">
                    <br><br>
                    <label for="precio">Precio</label>
                    <input type="number" name="precio" id="precio">
                    <br><br> 

                    <input type="submit" value="Registrar" class="btn ">
                    
                </form>
                
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="{% static 'register.js' %}"></script>
</body>
</html>
